@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

html,body {
  font-family: "Lexend Deca", sans-serif;
  background: linear-gradient(204deg, rgba(2,0,36,1) 25%, rgba(8,116,106,1) 50%, rgba(24,121,9,0.989233193277311) 75%, rgba(0,211,255,1) 100%);  
  background-attachment: fixed;
  display: flex;
  justify-content: center; 
  height: 100%;
}

body{
  width: 100%;
}